users/demo/Simulations/*/Results/*
users/demo/Simulations/*/output/*
Dockers/gcsim/_static/*
Dockers/gcsim/.doctrees/*
Dockers/gcsim/.buildinfo
.idea/*
Dockers/gcsim/GCSimulator/Simulator/greenchargeSoloDim/bin/__pycache__
etc/prosody/conf.d/localhost.cfg.lua
Dockers/gcsim/build/*
Dockers/gcsim/gcsimulator/agents/__pycache__
Dockers/gcsim/gcsimulator/utils/__pycache__

